<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HELLO PASSWORD</title>
</head>

<body>
    <p>LEN: {{ context.pass_len }}</p>
    <p>COUNT: {{ context.pass_count }}</p>
    {% for password in context.passwords %}
    <p>{{ password }}</p>
    {% endfor %}
</body>
</html>
<!--{% extends 'base.html' %}-->



<!--{% block content %}-->
  <!--<p>LEN: {{ context.pass_len }}</p>-->
  <!--<p>COUNT: {{ context.pass_count }}</p>-->
  <!--{% for password in context.passwords %}-->
  <!--<p>{{ password }}</p>-->
  <!--{% endfor %}-->
<!--{% endblock content %}-->
